/* app css stylesheet */
.header{
  background-color: #bdffbf;
}
.language-changes-label{
  padding-top: 10px;
  text-align: right;
}
.body-content{
  min-height: 550px;
  background-color: #eae8e1;
}
.task{
  border: solid;
  border-width: 2px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 370px;

}
.task-heading{
  border: solid;
  border-width: 3px;
  border-right: none;
  border-top: none;
  border-left:none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer{
  text-align: right;
  padding:10px;
  background-color: #bdffbf;
}
h1{
  color: #fff;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
  font: 50px 'ChunkFiveRegular';
}

.operation-div{
  padding: 30px;
  border:solid;
  border-width: 1px;
  border-right: none;
  border-top: none;
  border-left:none;
  margin-bottom: 10px;


}
.LOW{
  background-color: #ace665;
}
.HIGH {
  background-color: #ff7d79;
}
.MEDIUM{
  background-color: #89f3ff;
}
.task-body{
  padding: 10px;
}
.task-operation{
  padding:10px;
}
