<div ng-controller="dashboardController as vm">
    <div class="modal-header">
        <h3>Edit the Task</h3>
    </div>
    <form class="form-horizontal" name="addTask" ng-submit="cd.submit();">
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label col-sm-4" >Task Name:</label>
                <div class="col-sm-8">
                    <input  type="text" name="taskName" ng-model="cd.editTask.name" class="form-control"  placeholder="Enter Task Name" required>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" >Task Description:</label>
                <div class="col-sm-8">
                    <input  type="text" name="description" ng-model="cd.editTask.description" class="form-control"  placeholder="Enter Task Description" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" >Start Date:</label>
                <div class="col-sm-8">
                    <datepicker  date-format="dd-MM-yyyy">
                        <input  type="text" name="startdate" ng-model="cd.editTask.startdate" class="form-control"  placeholder="Enter Start Date" required>
                    </datepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" >End Date:</label>
                <div class="col-sm-8">
                    <datepicker  date-format="dd-MM-yyyy">
                        <input  type="text" name="enddate" ng-model="cd.editTask.enddate" class="form-control"  placeholder="Enter End Date" required>
                    </datepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" >Status:</label>
                <div class="col-sm-8">
                    <ui-select ng-model="cd.editTask.status" name="status" required>
                        <ui-select-match allow-clear="true" placeholder="Select status...">
                            <span ng-bind="$select.selected.value"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (cd.statusList | filter: $select.search) track by item.name">
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" >Priority:</label>
                <div class="col-sm-8">
                    <ui-select ng-model="cd.editTask.priority" name="status" required>
                        <ui-select-match allow-clear="true" placeholder="Select status...">
                            <span ng-bind="$select.selected.value"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in (cd.prioritiesList | filter: $select.search) track by item.name">
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-success" type="submit">submit</button>
            <button class="btn btn-warning" type="button" ng-click="cd.cancel()">Cancel</button>
        </div>
    </form>

</div>

